<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <form>
        <label for="repeatSelect"> Repeat select: </label>
        <select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
            <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
    </form>
    <tt>repeatSelect = {{data.repeatSelect}}</tt>
    <br/>

    <hr>

    <form>
        <label for="mySelect"> ngOptions select: </label>
        <select name="mySelect" id="mySelect" ng-model="data.selectedOption"
            ng-options="option.name for option in data.availableOptions track by option.id">
            <option value="">Make a choice!</option>
        </select>
        <button ng-click="set2ndOpt()">set 2nd option</button>
        <button ng-click="setBogus()">set bogus</button>
    </form>
    <tt>option = {{data.selectedOption}}</tt>
<br/>
</body>
</html>