<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <input ng-model="title" aria-label="title"> <br/>
    <textarea ng-model="text" aria-label="text"></textarea> <br/>
    
    <pane title="{{title}}">
        {{text}}
    </pane>
</body>
</html>