<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    {{ "SKELETON"}}
</body>
</html>