<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController as myCtrl">
    
    <label>Order: <input ng-model="order"></label>
    
    <table id="searchTextResults">
      <tr><th>Name</th><th>Lastname</th><th>Phone</th></tr>
      <tr ng-hide="searchText" ng-repeat="friend in friends | orderBy:[order,'-lastName']">
        <td>{{friend.name}}</td>
        <td>{{friend.lastName}}</td>
        <td>{{friend.phone}}</td>
      </tr>
    </table>
    
    
</body>
</html>