<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <button ng-click="changeUsers()">Change Users</button>
    <button ng-click="pushUser()">Push User</button>
    <button ng-click="modifyUser()">Modify User</button>
    <div ng-controller="SimpleWatch as ctrl">
        {{ ctrl.users | json }}
    </div>
    <div ng-controller="WatchCollection as ctrl">
        {{ ctrl.users | json }}
    </div>
    <div ng-controller="DeepWatch as ctrl">
        {{ ctrl.users | json }}
    </div>
</body>
</html>