<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <form name="myForm" novalidate>
        <label>
            Requerido ? <input type="checkbox" ng-model="requerido" />
        </label>
        <br/>
        
        <label>
            Patrón: <input ng-model="patron" /> /* [0-9]{4} */
        </label>
        <br/>
        
        <label>
            MinLength: <input type="number" ng-model="min"/>
        </label>
        <br/>
        
        <label>
            MaxLength: <input type="number" ng-model="max"/>
        </label>
        <br />
        
        <label>
            No trim ? <input type="checkbox" ng-model="noTrim" />
        </label>
        <br /><br />
        
        <label>
            Texto: <input type="text" name="input" ng-model="texto"
                          ng-required="requerido"
                          ng-pattern="patron"
                          ng-minlength="min"
                          ng-maxlength="max"
                          ng-trim="{{!noTrim}}"
                    />
        </label>
        
        <div ng-show="myForm.$error">
            <span ng-show="myForm.input.$error.required">El campo es requerido</span>
            <span ng-show="myForm.input.$error.pattern">El campo es inválido</span>
            <span ng-show="myForm.input.$error.minlength || myForm.input.$error.maxlength">Número de caracteres incorrecto</span>
        </div>
        
        <p>
            <samp style="white-space: pre">$scope.texto = "{{texto}}"</samp><br/>
        </p>

    </form>
</body>
</html>