<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <form name="myForm">
        <label for="singleSelect"> Single select: </label><br>
        <select name="singleSelect" ng-model="data.singleSelect">
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
        </select><br>

        <label for="singleSelect"> Single select with "not selected" option and dynamic option values: </label><br>
        <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
            <option value="">---Please select---</option> <!-- not selected / blank option -->
            <option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
            <option value="option-2">Option 2</option>
        </select><br>
        <button ng-click="forceUnknownOption()">Force unknown option</button><br>
        <tt>singleSelect = {{data.singleSelect}}</tt>

        <hr>
        <label for="multipleSelect"> Multiple select: </label><br>
        <select name="multipleSelect" id="multipleSelect" ng-model="data.multipleSelect" multiple>
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
            <option value="option-3">Option 3</option>
        </select><br>
        <tt>multipleSelect = {{data.multipleSelect}}</tt><br/>
    </form>
</body>
</html>