<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <div ng-repeat="innerList in list" ng-init="outerIndex = $index">
    
        <div ng-repeat="value in innerList" ng-init="innerIndex = $index">
           
           <span class="example-init">list[ {{outerIndex}} ][ {{innerIndex}} ] = {{value}};</span>
           <span ng-if="$first">is first </span>
           <span ng-if="$last">is last </span>
           <span ng-if="$middle">is middle </span>
           <span ng-if="$even">is even </span>
           <span ng-if="$odd">is odd </span>
           
        </div>
        
        <br/>
    </div>
</body>
</html>