<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
<form name="userForm">
    <label>Name:
        <input type="text" name="userName" ng-model="user.name" 
               ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" />
    </label>
    
    <br />
    
    <label>Other data:
        <input type="text" name="otherData" ng-model="user.data" 
                ng-model-options="{debounce: 1000}" />
    </label>
    <button ng-click="userForm.otherData.$rollbackViewValue()">
        Rollback debounced change
    </button>
    
    <br />
    
    <label>Getter/setter:
        <input type="text" name="wrappedData" ng-model="user.wrappedData"
            ng-model-options="{ getterSetter: true }" />
    </label>
</form>

<pre>user.name = <span ng-bind="user.name"></span></pre>
<pre>user.data = <span ng-bind="user.data"></span></pre>
<pre>user.wrappedData = <span ng-bind="user.wrappedData()"></span></pre>
</body>
</html>