<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <form name="form" class="css-form" novalidate>
        <div>
            Percentage (integer 0 - 100):
            <input type="number" ng-model="percentage" name="percentage" min="0" max="100" integer />
            {{percentage}}
            <br />
            <span ng-show="form.percentage.$error.integer">The value is not a valid integer!</span>
            <span ng-show="form.percentage.$error.min || form.size.$error.max">
                The value must be in range 0 to 100!
            </span>
        </div>

        <div>
            Username:
            <input type="text" ng-model="name" name="name" username />{{name}}
            <br />
            <span ng-show="form.name.$pending.username">Checking if this name is available...</span>
            <span ng-show="form.name.$error.username">This username is already taken!</span>
        </div>
    </form>
</body>
</html>