<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController as myCtrl">
    
    <h1>limitTo:limit:offset</h1>
    
    <h2>string limit</h2>
    <code ng-non-bindable>
        {{ "1234567890" | limitTo: 3 }}
    </code> = {{ "1234567890" | limitTo: 3 }}
    
    <h2>array limit</h2>
    
    Limit: <input ng-model="limit" />
    <p />
    <table>
        <tr><th>Name</th><th>Lastname</th><th>Phone</th></tr>
        <tr ng-repeat="friend in friends | limitTo:limit">
          <td>{{friend.name}}</td>
          <td>{{friend.lastName}}</td>
          <td>{{friend.phone}}</td>
        </tr>
    </table>
    
    <h2>Pagination with offset</h2>
    <span ng-repeat="page in [1,2,3,4]" ng-click="setPage($index)">
        {{page}}
    </span>
    <p/>
    <table>
        <tr><th>Name</th><th>Lastname</th><th>Phone</th></tr>
        <tr ng-repeat="friend in friends | limitTo:pageSize:offset">
          <td>{{friend.name}}</td>
          <td>{{friend.lastName}}</td>
          <td>{{friend.phone}}</td>
        </tr>
    </table>
    
</body>
</html>