<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    Simple prop
    <div ng-controller="MyController1">
        CONTROLLER 1: <input ng-model="prop"/> 
        
        <div ng-controller="MyController2">
            CONTROLLER 2: <input ng-model="prop" />
            
            <div ng-controller="MyController3">
                CONTROLLER 3: <input ng-model="prop" />
            </div>
            
        </div>        
    </div>
    <br/>
    Nested prop
    <div ng-controller="MyController1">
        CONTROLLER 1: <input ng-model="nested.prop"/> 
        
        <div ng-controller="MyController2">
            CONTROLLER 2: <input ng-model="nested.prop" />
            
            <div ng-controller="MyController3">
                CONTROLLER 3: <input ng-model="nested.prop" />
            </div>
            
        </div>        
    </div>
    <br/>
    Controller As
    <div ng-controller="MyController1 as ctrl1">
        CONTROLLER 1: <input ng-model="ctrl1.prop"/> 
        
        <div ng-controller="MyController2 as ctrl2">
            CONTROLLER 2: <input ng-model="ctrl2.prop" />
            
            <div ng-controller="MyController3 as ctrl3">
                CONTROLLER 3: <input ng-model="ctrl3.prop" />
            </div>
            
        </div>        
    </div>
</body>
</html>