<!DOCTYPE>
<html>
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="myApp">
    
    <!-- <script type="text/ng-template" id="tpl.html">
        Content of the template.
    </script> -->
    
    <a ng-click="currentTpl='tpl.html'" id="tpl-link">Load inlined template</a>
    
    <div id="tpl-content" ng-include src="currentTpl"></div>
    
</body>
</html>