<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <form name="myForm">
        <label>Value1:
            <input type="checkbox" ng-model="checkboxModel.value1">
            <input type="checkbox" ng-checked="checkboxModel.value1">
        </label>
        <br/>
        <label>Value2:
            <input type="checkbox" ng-model="checkboxModel.value2" ng-true-value="'YES'" ng-false-value="'NO'">
        </label>
        <br/>
        <tt>value1 = {{checkboxModel.value1}}</tt>
        <br/>
        <tt>value2 = {{checkboxModel.value2}}</tt>
        <br/>
    </form>
</body>
</html>