<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController as myCtrl">
    
    <h1>filter:expression:comparator</h1>
    
    <h2>string expression / boolean comparator / function comparator</h2>
    Expression: <input ng-model="expression" />
    <input type="checkbox" ng-model="strict" /> Strict comparision?
    <p />
    <table>
        <tr><th>Name</th><th>Lastname</th><th>Phone</th></tr>
        <tr ng-repeat="friend in friends | filter:expression:strict">
          <td>{{friend.name}}</td>
          <td>{{friend.lastName}}</td>
          <td>{{friend.phone}}</td>
        </tr>
    </table>
    
    <h2>object expression</h2>
    Name: <input ng-model="search.name" /> <br/>
    Parent: <input ng-model="search.parents.$" /> <br/>
    <p />
    search = <span> {{search | json}} </span>
    <p />
    <table>
        <tr><th>Name</th><th>Lastname</th><th>Phone</th><th>Mama</th><th>Papa</th></tr>
        <tr ng-repeat="friend in friends | filter:search">
          <td>{{friend.name}}</td>
          <td>{{friend.lastName}}</td>
          <td>{{friend.phone}}</td>
          <td>{{friend.parents.mother}}</td>
          <td>{{friend.parents.father}}</td>
        </tr>
    </table>
    
    <h2>function expression</h2>
    Name: <input ng-model="name" /> or parent: <input ng-model="parentName" />
    <p />
    <table>
        <tr><th>Name</th><th>Lastname</th><th>Phone</th><th>Mama</th><th>Papa</th></tr>
        <tr ng-repeat="friend in friends | filter:nameOrParent">
          <td>{{friend.name}}</td>
          <td>{{friend.lastName}}</td>
          <td>{{friend.phone}}</td>
          <td>{{friend.parents.mother}}</td>
          <td>{{friend.parents.father}}</td>
        </tr>
    </table>
    
    <h2>comparator function</h2>
    Name: <input ng-model="comp.name" /> <br/>
    <p />
    <table>
        <tr><th>Name</th><th>Lastname</th><th>Phone</th></tr>
        <tr ng-repeat="friend in friends | filter:comp:comparator">
          <td>{{friend.name}}</td>
          <td>{{friend.lastName}}</td>
          <td>{{friend.phone}}</td>
        </tr>
    </table>
</body>
</html>