<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <form name="myForm" novalidate>
        <label>Single word:
        <input type="text" name="input" ng-model="example.text">
        </label>
        <tt>text = "{{example.text}}"</tt><br/>
        
<pre>
{{myForm|json}}
</pre>

    </form>
</body>
</html>