<!DOCTYPE>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyController">
    <form name="myForm">
        <label>
            <input type="radio" ng-model="color.name" value="red"> Red
        </label>
        <br/>
        <label>
            <input type="radio" ng-model="color.name" ng-value="value.name"> {{value.label}}
        </label>
        <br/>
        <label>
            <input type="radio" ng-model="color.name" ng-value="specialValue"> {{specialValue.label}}
        </label>
        <br/>
        <tt>color = {{color.name | json}}</tt>
        <br/>
    </form>
</body>
</html>